{{define "title"}}Error {{.errorCode}}: {{.errorText}}{{end}}

{{define "heading"}}Error {{.errorCode}}: {{.errorText}}{{end}}

{{define "main"}}
  <section>

    <p>
      Oops, something went wrong, you may wish to wait 30 seconds and try again.
    </p>

  </section>
{{end}}

