{{define "title"}}SCUBA Diving Website{{end}}

{{define "heading"}}Welcome to DiveSite{{end}}

{{define "main"}}
<section>

  <p>Welcome to DiveSite, an online portal for SCUBA Divers.</p>
  
</section>
{{end}}

