{{define "title"}}Register a New Account{{end}}

{{define "heading"}}Register Your Details For a New Account{{end}}

{{define "main"}}
  <section>
    {{template "form_non_field_errors" .}}

    <p>Register your details to create a new DiveSite account.</p>

    <h2>Enter Your Details</h2>

    <form method="post" action="/user/sign-up"
          class="{{template "bootstrap_form_class" .}}">
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

      <div class="row mb-4">
        {{bsTextField "text" "name" "" .Form.Name "2" "256" true .Form.FieldErrors}}
      </div>

      <div class="row mb-4">
        {{bsTextField "email" "email" "Email Address" .Form.Email "6" "256" true .Form.FieldErrors}}
      </div>

      <div class="row mb-4">
        {{bsTextField "password" "password" "" "" "8" "1024" true .Form.FieldErrors}}
        {{bsTextField "password" "password_confirm" "Confirm Password" "" "8" "1024" true .Form.FieldErrors}}
      </div>

      <div class="row mb-4">
        <div class="col-sm">
          <button class="btn btn-primary me-2" type="submit">Create Account</button>
          <button class="btn btn-outline-danger" type="reset">Reset</button>
        </div>
      </div>

    </form>
  </section>
{{end}}

