{{define "title"}}Dive Buddies{{end}}

{{define "heading"}}Dive Buddies{{end}}

{{define "main"}}
  <section>

    {{if .Buddies}}
      {{pageControls "/buddy" .PageData}}

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Contact Details</th>
            <th scope="col">Dives Logged</th>
            <th scope="col">Comments</th>
          </tr>
        </thead>
        <tbody>
          {{range .Buddies}}
            <tr>
              <th scope="row">{{.String}}</td>
              <td>
                {{with .Email}}
                  <a class="link-underline link-underline-opacity-0"
                     href="mailto:{{.}}">📧</a>
                {{end}}
                {{with .PhoneNumber}}
                  <a class="link-underline link-underline-opacity-0"
                     href="tel:{{.}}">☎️</a>
                {{end}}
              </td>
              <td>
                {{.DivesWith}}
                {{if .DivesWith}}
                  between {{.FirstDiveWith.Format "2006-01-02"}}
                  and {{.LastDiveWith.Format "2006-01-02"}}
                {{end}}
              </td>
              <td>{{.Notes}}</td>
            </tr>
          {{end}}
        </tbody>
      </table>

      {{pageControls "/buddy" .PageData}}

    {{else}}
      <p>
        No dive buddies have been added yet. Please feel free to
        <a href="/buddy/add">add a new one</a>.
      </p>
    {{end}}

  </section>
{{end}}

