{{define "title"}}Add a new Dive Operator{{end}}

{{define "heading"}}Add a new Dive Operator{{end}}

{{define "main"}}
  <section>
    {{template "form_non_field_errors" .}}

    <p>
        Add the details for a new dive operator (school, shop, club...) to the
        system.
    </p>

    <h2>Main Details</h2>

    <form method="post" action="/operator/add"
          class="{{template "bootstrap_form_class" .}}"
          {{if .NoValidate}} novalidate{{end}}>
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

      <div class="row mb-4">
        {{bsTextField "text" "name" "" .Form.Name "1" "256" true .Form.FieldErrors}}

        <div class="col-sm">
          <label class="form-label" for="id_operator_type_id">Operator Type *</label>
          <select {{template "form_field_common_attrs" "operator_type_id"}}
                  class="{{template "bootstrap_form_select_class" .Form.FieldErrors.operator_type_id}}">
            {{range .OperatorTypes}}
              <option value="{{.ID}}"
                      {{if eq .ID $.Form.OperatorTypeID}}selected{{end}}>
                {{.Name}}
              </option>
            {{end}}
          </select>
          {{with .Form.FieldErrors.operator_type}}
            <div class="invalid-feedback" id="id_operator_type_id_feedback">{{.}}</div>
          {{end}}
        </div>
      </div>

      <h2>Address</h2>

      <div class="row mb-4">
        {{bsTextField "text" "street" "" .Form.Street "0" "256" false .Form.FieldErrors}}
        {{bsTextField "text" "suburb" "" .Form.Suburb "0" "256" false .Form.FieldErrors}}
        {{bsTextField "text" "state" "" .Form.State "0" "256" false .Form.FieldErrors}}
      </div>

      <div class="row mb-4">
        {{bsTextField "text" "postcode" "" .Form.Postcode "0" "16" false .Form.FieldErrors}}

        <div class="col-sm">
          <label class="form-label" for="id_country">Country *</label>
          <select {{template "form_field_common_attrs" "country"}}
                  class="{{template "bootstrap_form_select_class" .Form.FieldErrors.country}}">
            {{$selectedCountryID := or .Form.CountryID .User.DefaultDivingCountryID}}
            {{range .Countries}}
              <option value="{{.ID}}"
                      {{if eq .ID $selectedCountryID}}selected{{end}}>
                {{.Name}}
              </option>
            {{end}}
          </select>
          {{with .Form.FieldErrors.country}}
            <div class="invalid-feedback" id="id_country_feedback">{{.}}</div>
          {{end}}
        </div>
      </div>

      <h2>Contact Details</h2>

      <div class="row mb-4">
        {{bsTextField "url" "website_url" "Website URL" .Form.WebsiteURL "0" "2048" false .Form.FieldErrors}}
        {{bsTextField "email" "email_address" "" .Form.EmailAddress "0" "254" false .Form.FieldErrors}}
        {{bsTextField "text" "phone_number" "" .Form.PhoneNumber "0" "32" false .Form.FieldErrors}}
      </div>

      <h2>Additional Information</h2>

      <div class="row mb-4">
        <div class="col-sm">
          <label class="form-label" for="id_notes">Notes</label>
          <textarea {{template "form_field_common_attrs" "comments"}}
                    maxlength="4096" rows="16"
                    class="{{template "bootstrap_form_field_class" .Form.FieldErrors.comments}}">
            {{- .Form.Comments -}}
          </textarea>
          {{with .Form.FieldErrors.comments}}
            <div class="invalid-feedback" id="id_comments_feedback">{{.}}</div>
          {{end}}
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm">
          <button class="btn btn-primary me-2" type="submit">Add Dive Operator</button>
          <button class="btn btn-outline-danger" type="reset">Reset</button>
        </div>
      </div>

    </form>
  </section>
{{end}}

