{{define "base"}}
  <!doctype html>
  {{$theme := "dark"}}
  {{if and .User.ID (not .User.DarkMode)}}
    {{$theme = "light"}}
  {{end}}
  <html lang="en" data-bs-theme="{{$theme}}">
    <head>
      <!-- The following meta tags *must* come first in the head; any other head
           content must come *after* these tags (apparently).-->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" crossorigin="anonymous"
            href="/static/css/bootstrap.min.css"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB">
      <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
      <link rel="manifest" href="/static/img/site.webmanifest">

      <title>DiveSite - {{template "title" .}}</title>
    </head>

    <body>
      {{template "nav" .}}

      <header id="main-header">
        <div class="container-fluid pt-5 px-5">
          <h1>{{template "heading" .}}</h1>

          <hr class="border-2 border-top border-secondary">

          {{with .Flash}}
            <div class="alert alert-primary" role="alert">{{.}}</div>
          {{end}}
          {{with .FlashError}}
            <div class="alert alert-danger" role="alert">{{.}}</div>
          {{end}}
          {{with .FlashInfo}}
            <div class="alert alert-info" role="alert">{{.}}</div>
          {{end}}
          {{with .FlashSuccess}}
            <div class="alert alert-success" role="alert">{{.}}</div>
          {{end}}
          {{with .FlashWarning}}
            <div class="alert alert-warning" role="alert">{{.}}</div>
          {{end}}
        </div>
      </header>

      <section id="main">
        <div class="container-fluid px-5">
          {{template "main" .}}
        </div>
      </section>

      <div class="container-fluid">
        <footer id="footer"
                class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          {{if .IsAuthenticated}}
            <ul class="col-md mb-0 text-body-secondary">
              <li class="list-unstyled">
                <small>
                  <strong>Logged in as</strong>: {{.User.Name}} ({{.User.Email}})
                </small>
              </li>
              <li class="list-unstyled">
                <small>
                  <strong>Last log in</strong>:
                  {{.User.LastLogIn.Format "2006-01-02 15:04:05 MST"}}
                </small>
              </li>
            </ul>
          {{else}}
            <p class="col-md mb-0 text-body-secondary">&nbsp;</p>
          {{end}}

          <p class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-body-secondary">
            &copy; {{.CurrentYear}}. All rights reserved.
          </p>

          <p class="nav col-md-4 justify-content-end">&nbsp;</p>
        </footer>
      </div>

      <script src="/static/js/bootstrap.bundle.min.js"
              integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
              crossorigin="anonymous"></script>
    </body>
  </html>
{{end}}

