{{define "base"}}
  <!doctype html>
  <html lang="en" data-bs-theme="dark">
    <head>
      <!-- The following meta tags *must* come first in the head; any other head
           content must come *after* these tags (apparently).-->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" crossorigin="anonymous"
            href="/static/css/bootstrap-5.3.3.min.css"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH">
      <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
      <link rel="manifest" href="/static/img/site.webmanifest">

      <title>DiveSite - {{template "title" .}}</title>
    </head>

    <body>
      {{template "nav" .}}

      <header id="main-header">
        <div class="container-fluid pt-5 px-5">
          <h1>{{template "heading" .}}</h1>

          <hr class="border-2 border-top border-secondary">

          {{with .Flash}}
            <div class="alert alert-primary" role="alert">{{.}}</div>
          {{end}}
          {{/*{{with .FlashDanger}}
            <div class="alert alert-danger" role="alert">{{.}}</div>
          {{end}}
          {{with .FlashInfo}}
            <div class="alert alert-info" role="alert">{{.}}</div>
          {{end}}
          {{with .FlashSuccess}}
            <div class="alert alert-success" role="alert">{{.}}</div>
          {{end}}
          {{with .FlashWarning}}
            <div class="alert alert-warning" role="alert">{{.}}</div>
          {{end}}*/}}
        </div>
      </header>

      <section id="main">
        <div class="container-fluid px-5">
          {{template "main" .}}
        </div>
      </section>

      <div class="container-fluid">
        <footer id="footer"
                class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md mb-0 text-body-secondary">
            &copy; {{.CurrentYear}}. All rights reserved.
            {{/*{{if .IsAuthenticated}}
              <ul>
                <li>Logged in as: {{.UserName}}</li>
                <li>Last log-in: {{"2022-09-02 11:31 UTC"}}</li>
              </ul>
            {{end}}*/}}
          </p>

          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>

          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            {{if .IsAuthenticated}}
              <li class="nav-item">
                <a href="/" class="nav-link px-2 text-body-secondary">Log In</a>
              </li>
            {{end}}
          </ul>
        </footer>
      </div>

      <script src="/static/js/bootstrap-5.3.3.bundle.min.js"
              integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
              crossorigin="anonymous"></script>
    </body>
  </html>
{{end}}

