{{define "title"}}Add a new Dive Site{{end}}

{{define "heading"}}Add a new Dive Site{{end}}

{{define "main"}}
  <section>
    {{template "form_non_field_errors" .}}

    <p>Add the details for a dive site to the system.</p>

    <h2>Main Details</h2>

    <form method="post"
          {{with .Form.ID}}
            action="/log-book/dive-site/edit/{{.}}"
          {{else}}
            action="/log-book/dive-site/add"
          {{end}}
          class="{{template "bootstrap_form_class" .}}"
          {{if .NoValidate}} novalidate{{end}}>
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

      {{with .Form.Version}}
        <input type="hidden" name="version" id="id_version" value="{{.}}">
      {{end}}

      <div class="row mb-4">
        {{bsTextField "text" "name" "" .Form.Name "1" "256" true .Form.FieldErrors}}
        {{bsTextField "text" "alt_name" "Alternative Name" .Form.AltName "0" "256" false .Form.FieldErrors}}
      </div>

      <div class="row mb-4">
        {{bsTextField "text" "location" "" .Form.Location "1" "256" true .Form.FieldErrors}}
        {{bsTextField "text" "region" "" .Form.Region "0" "256" false .Form.FieldErrors}}

        <div class="col-sm">
          <label class="form-label" for="id_rating">Rating</label>
          <select {{template "form_field_common_attrs" "rating"}}
                  class="{{template "bootstrap_form_select_class" .Form.FieldErrors.rating}}">
            <option value="">---------</option>
            {{range $i := intRange 0 10}}
              <option value="{{$i}}"
                {{with $.Form.Rating}}{{if eq $i (derefInt . -1)}}selected{{end}}{{end}}>
                {{$i}}
              </option>
            {{end}}
          </select>
          {{with .Form.FieldErrors.rating}}
            <div class="invalid-feedback" id="id_rating_feedback">{{.}}</div>
          {{end}}
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm">
          <label class="form-label" for="id_country">Country *</label>
          <select {{template "form_field_common_attrs" "country"}}
                  class="{{template "bootstrap_form_select_class" .Form.FieldErrors.country}}">
            {{range .Countries}}
              <option value="{{.ID}}"
                      {{if eq .ID $.Form.CountryID}}selected{{end}}>
                {{.Name}}
              </option>
            {{end}}
          </select>
          {{with .Form.FieldErrors.country}}
            <div class="invalid-feedback" id="id_country_feedback">{{.}}</div>
          {{end}}
        </div>

        <div class="col-sm">
          <label class="form-label" for="id_timezone">Time Zone *</label>
          <select {{template "form_field_common_attrs" "timezone"}}
                  class="{{template "bootstrap_form_select_class" .Form.FieldErrors.timezone}}">
            {{$tzStr := print $.Form.TimeZone}}
            {{range $tz := getOSTimeZones}}
              <option value="{{$tz}}"{{if eq $tz $tzStr}} selected{{end}}>
                {{stringsReplace $tz "_" " " -1}}
              </option>
            {{end}}
          </select>
          {{with .Form.FieldErrors.timezone}}
            <div class="invalid-feedback" id="id_timezone_feedback">{{.}}</div>
          {{end}}
        </div>
      </div>

      <h2>Hydrology</h2>

      <div class="row mb-4">
        <div class="col-sm">
          <label class="form-label" for="id_water_body">Water Body *</label>
          <select {{template "form_field_common_attrs" "water_body"}}
                  class="{{template "bootstrap_form_select_class" .Form.FieldErrors.water_body}}">
            {{range .WaterBodies}}
              <option value="{{.ID}}"
                      {{if eq .ID $.Form.WaterBodyID}}selected{{end}}>
                {{.Name}}
              </option>
            {{end}}
          </select>
          {{with .Form.FieldErrors.water_body}}
            <div class="invalid-feedback" id="id_water_body_feedback">{{.}}</div>
          {{end}}
        </div>

        <div class="col-sm">
          <label class="form-label" for="id_water_type">Water Type *</label>
          <select {{template "form_field_common_attrs" "water_type"}}
                  class="{{template "bootstrap_form_select_class" .Form.FieldErrors.water_type}}">
            {{range .WaterTypes}}
              <option value="{{.ID}}"
                      {{if eq .ID $.Form.WaterTypeID}}selected{{end}}>
                {{.Name}}
              </option>
            {{end}}
          </select>
          {{with .Form.FieldErrors.water_type}}
            <div class="invalid-feedback" id="id_water_type_feedback">{{.}}</div>
          {{end}}
        </div>
      </div>

      <h2>Geography</h2>

      <div class="row mb-4">
        {{bsNumFieldF64Ptr "latitude" "" "-90.0" "90.0" "0.000001" .Form.Latitude false .Form.FieldErrors}}
        {{bsNumFieldF64Ptr "longitude" "" "-180.0" "180.0" "0.000001" .Form.Longitude false .Form.FieldErrors}}
        {{bsNumFieldInt    "altitude" "Altitude (MAMSL)" "-422" "7000" "1" .Form.Altitude true .Form.FieldErrors}}
        {{bsNumFieldF64Ptr "max_depth" "Max Depth (m)" "4.0" "350.0" "0.1" .Form.MaxDepth false .Form.FieldErrors}}
      </div>

      <h2>Additional</h2>

      <div class="row mb-4">
        <div class="col-sm">
          <label class="form-label" for="id_notes">Notes</label>
          <textarea {{template "form_field_common_attrs" "notes"}}
                    class="{{template "bootstrap_form_field_class" .Form.FieldErrors.notes}}">
            {{- .Form.Notes -}}
          </textarea>
          {{with .Form.FieldErrors.notes}}
            <div class="invalid-feedback" id="id_notes_feedback">{{.}}</div>
          {{end}}
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm">
          {{$action := "Add Dive Site"}}
          {{if ne .Form.ID 0}}{{$action = "Update Dive Site"}}{{end}}
          <button class="btn btn-primary me-2" type="submit">{{$action}}</button>
          {{if ne .Form.ID 0}}
            <button class="btn btn-outline-danger" type="reset">Reset</button>
          {{end}}
        </div>
      </div>

    </form>
  </section>
{{end}}

