{{define "title"}}Dive Sites{{end}}

{{define "heading"}}Dive Sites{{end}}

{{define "main"}}
  <section>

    {{if .DiveSites}}
      {{pageControls "/log-book/dive-site" .PageData}}

      <div class="list-group">
        {{range .DiveSites}}
          <a class="list-group-item list-group-item-action"
             href="/log-book/dive-site/view/{{.ID}}">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">
                {{isoCountryToEmoji .Country.ISO2Code}}
                {{.Name}} {{if .AltName}}<small>(aka {{.AltName}})</small>{{end}}
              </h4>
              <span class="badge text-bg-primary rounded-pill">
                {{if.Rating}}{{.Rating}}{{else}}-{{end}}/10
              </span>
            </div>
            <p class="mb-1">
              {{.Location}}{{if .Region}}, {{.Region}}{{end}}, <strong>{{.Country.Name}}</strong>
            </p>
            <small>
              {{.WaterBody.Name}}{{if .MaxDepth}}, {{.MaxDepth}}m{{end}}
            </small>
          </a>
        </li>
      {{end}}
    </ul>

    {{pageControls "/log-book/dive-site" .PageData}}

    {{else}}
      <p>
        No dive sites exist yet. Please feel free to
        <a href="/log-book/dive-site/add">add a new one</a>.
      </p>
    {{end}}

  </section>
{{end}}

