{{define "title"}}
  Dive Site {{.DiveSite.Name}}, {{.DiveSite.Location}}, {{.DiveSite.Region}},
  {{.DiveSite.Country.Name}}
{{end}}

{{define "heading"}}
  {{isoCountryToEmoji .DiveSite.Country.ISO2Code}}
  {{.DiveSite.Name}}, {{.DiveSite.Location}},
  {{or .DiveSite.Region .DiveSite.Country.Name}}
  <a href="/log-book/dive-site/edit/{{.DiveSite.ID}}"
     class="btn btn-primary btn-lg">
    Edit
  </a>
{{end}}

{{define "main"}}
  <section>

    <div class="row mt-5">
      <h2>General</h2>

      <div class="list-group list-group-horizontal">
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Name</h4>
          <p class="mb-1">{{.DiveSite.Name}}</p>
        </div>
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Rating</h4>
          <p class="mb-1">
            {{if .DiveSite.Rating}}{{.DiveSite.Rating}}/10{{else}}-{{end}}
          </p>
        </div>
      </div>

      <div class="list-group list-group-horizontal">
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Alternative Name</h4>
          <p class="mb-1">{{or .DiveSite.AltName "-"}}</p>
        </div>
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Latitude/Longitude</h4>
          <p class="mb-1">
            {{if and .DiveSite.Latitude .DiveSite.Longitude}}
              <a href="http://www.google.com/maps/place/
                  {{- printf "%f" (derefF64 .DiveSite.Latitude 0.0)}},
                  {{- printf "%f" (derefF64 .DiveSite.Longitude 0.0)}}"
                target="_blank">
                  {{- printf "%f" (derefF64 .DiveSite.Latitude 0.0)}},
                  {{printf "%f" (derefF64 .DiveSite.Longitude 0.0)}}
              </a>
            {{else}}
              -
            {{end}}
          </p>
        </div>
      </div>

      <div class="list-group list-group-horizontal">
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Location</h4>
          <p class="mb-1">{{.DiveSite.Location}}</p>
        </div>
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Altitude (MAMSL)</h4>
          <p class="mb-1">{{.DiveSite.Altitude}}</p>
        </div>
      </div>

      <div class="list-group list-group-horizontal">
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Region</h4>
          <p class="mb-1">{{.DiveSite.Region}}</p>
        </div>
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Maximum Depth</h4>
          <p class="mb-1">
            {{if .DiveSite.MaxDepth}}{{.DiveSite.MaxDepth}}m{{else}}-{{end}}
          </p>
        </div>
      </div>

      <div class="list-group list-group-horizontal">
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Country</h4>
          <p class="mb-1">{{.DiveSite.Country.Name}}</p>
        </div>
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Water Body</h4>
          <p class="mb-1">{{.DiveSite.WaterBody.Name}}</p>
        </div>
      </div>

      <div class="list-group list-group-horizontal">
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Timezone</h4>
          <p class="mb-1">{{stringsReplace .DiveSite.TimeZone.String "_" " " -1}}</p>
        </div>
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Water Type</h4>
          <p class="mb-1">{{.DiveSite.WaterType.Name}}</p>
        </div>
      </div>
    </div>

    {{if .DiveSite.Notes}}
      <div class="row mt-5">
        <h2>Notes</h2>

        <div class="list-group list-group-horizontal">
          <div class="list-group-item list-group-item-action flex-fill">
            <blockquote class="mb-1">{{.DiveSite.Notes}}</blockquote>
          </div>
        </div>
      </div>
    {{end}}

    {{if .Dives}}
      <div class="row mt-4">
        <h2>Your Dives at {{.DiveSite.Name}} ({{len .Dives}})</h2>

        <div class="list-group">
          {{range .Dives}}
            <a class="list-group-item list-group-item-action"
               href="/log-book/dive/view/{{.ID}}">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">
                  {{isoCountryToEmoji .DiveSite.Country.ISO2Code}}
                  #{{.Number}}
                  {{.DateTimeIn.Format "2006-01-02 15:04 MST"}}
                </h4>
                {{with .Rating}}
                  <span class="badge text-bg-primary rounded-pill">{{.}}/10</span>
                {{end}}
              </div>
              <p class="mb-1">
                <strong>{{.DiveSite.Name}}</strong>
                {{- with .DiveSite.AltName}} <small>({{.}})</small>{{end}},
                {{.DiveSite.Location}}{{with .DiveSite.Region}}, {{.}}{{end}},
                {{.DiveSite.Country.Name}}
              </p>
              <p class="mb-1">
                {{.Activity}},
                <small>{{.BottomTime.Minutes}}mins @ {{.MaxDepth}}m</small>
                {{- with .Buddy}} with {{.Name}}{{end}}
              </p>
            </a>
          {{end}}
        </div>
      </div>
    {{end}}

  </section>
{{end}}

