{{define "title"}}
  Dive Site {{.DiveSite.Name}}, {{.DiveSite.Location}}, {{.DiveSite.Region}},
  {{.DiveSite.Country.Name}}
{{end}}

{{define "heading"}}
  {{isoCountryToEmoji .DiveSite.Country.ISO2Code}}
  {{.DiveSite.Name}}, {{.DiveSite.Location}},
  {{or .DiveSite.Region .DiveSite.Country.Name}}
{{end}}

{{define "main"}}
  <section>

    <div class="row mt-5">
      <h2>General</h2>

      <div class="list-group list-group-horizontal">
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Name</h4>
          <p class="mb-1">{{.DiveSite.Name}}</p>
        </div>
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Rating</h4>
          <p class="mb-1">
            {{if .DiveSite.Rating}}{{.DiveSite.Rating}}/10{{else}}-{{end}}
          </p>
        </div>
      </div>

      <div class="list-group list-group-horizontal">
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Alternative Name</h4>
          <p class="mb-1">{{or .DiveSite.AltName "-"}}</p>
        </div>
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Latitude/Longitude</h4>
          <p class="mb-1">
            {{if and .DiveSite.Latitude .DiveSite.Longitude}}
              <a href="http://www.google.com/maps/place/{{.DiveSite.Latitude}},{{.DiveSite.Longitude}}"
                target="_blank">
                {{.DiveSite.Latitude}}, {{.DiveSite.Longitude}}
              </a>
            {{else}}
              -
            {{end}}
          </p>
        </div>
      </div>

      <div class="list-group list-group-horizontal">
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Location</h4>
          <p class="mb-1">{{.DiveSite.Location}}</p>
        </div>
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Altitude (MAMSL)</h4>
          <p class="mb-1">{{.DiveSite.Altitude}}</p>
        </div>
      </div>

      <div class="list-group list-group-horizontal">
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Region</h4>
          <p class="mb-1">{{.DiveSite.Region}}</p>
        </div>
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Maximum Depth</h4>
          <p class="mb-1">
            {{if .DiveSite.MaxDepth}}{{.DiveSite.MaxDepth}}m{{else}}-{{end}}
          </p>
        </div>
      </div>

      <div class="list-group list-group-horizontal">
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Country</h4>
          <p class="mb-1">{{.DiveSite.Country.Name}}</p>
        </div>
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Water Body</h4>
          <p class="mb-1">{{.DiveSite.WaterBody.Name}}</p>
        </div>
      </div>

      <div class="list-group list-group-horizontal">
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Timezone</h4>
          <p class="mb-1">{{stringsReplace .DiveSite.TimeZone.String "_" " " -1}}</p>
        </div>
        <div class="list-group-item list-group-item-action flex-fill">
          <h4 class="mb-1">Water Type</h4>
          <p class="mb-1">{{.DiveSite.WaterType.Name}}</p>
        </div>
      </div>
    </div>

    {{if .DiveSite.Notes}}
      <div class="row mt-5">
        <h2>Notes</h2>

        <div class="list-group list-group-horizontal">
          <div class="list-group-item list-group-item-action flex-fill">
            <blockquote class="mb-1">{{.DiveSite.Notes}}</blockquote>
          </div>
        </div>
      </div>
    {{end}}

    {{/*{{if .UserDives}}
      <div class="row mt-4">
        <h2>Your Dives at {{.DiveSite.Name}} ({{len .UserDives}})</h2>

        <div class="table-wrapper">
          <table class="alt">
            <thead>
              <tr>
                <th>#</th>
                <th>Date</th>
                <th>Dive Site</th>
                <th>Activity</th>
                <th>Depth</th>
                <th>Bottom Time</th>
              </tr>
            </thead>
            <tbody>
              {{dive := range .UserDives}}
                <tr>
                  <td>
                    <a href="{{url 'divelog:view_dive' dive.pk}}">{{dive.number}}</a>
                  </td>
                  <td>
                    <a href="{{url 'divelog:view_dive' dive.pk}}">{{dive.date_time_in|date:"Y-m-d H:i e"|timezone:"dive.timezone"}}</a>
                    <a href="{{url 'divelog:view_dive' dive.pk}}">{{dive.date_time_in|timezone:dive.site.timezone|date:"Y-m-d H:i e"}}</a>
                  </td>
                  <td>
                    {{isoCountryToEmoji .Country.ISO2Code}}
                    <a href="/blah">
                      {{dive.site.name}}
                    </a>
                  </td>
                  <td>
                    <a href="{{url 'divelog:view_dive' dive.pk}}">{{dive.activity}}</a>
                  </td>
                  <td>
                    <a href="{{url 'divelog:view_dive' dive.pk}}">{{dive.max_depth}}</a>
                  </td>
                  <td>
                    <a href="{{url 'divelog:view_dive' dive.pk}}">{{dive.bottom_time}}</a>
                  </td>
                </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      {{end}} */}}
    </div>
  </section>
{{end}}

