{{define "nav"}}
  <nav id="nav" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">DiveSite</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>

        {{if .IsAuthenticated}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/user/profile/edit">Update</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Log Book
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/log-book/dive/">Dives</a></li>
              <li><a class="dropdown-item" href="/log-book/dive/add">Log Dive</a></li>
              <li><a class="dropdown-item" href="/log-book/statistics">Statistics</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/log-book/dive-site">Dive Sites</a>
              <li><a class="dropdown-item" href="/log-book/dive-site/add">Add Dive Site</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/buddy/">Buddies</a></li>
              <li><a class="dropdown-item" href="/buddy/add">Add Buddy</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/certification/">Dive Certifications</a></li>
              <li><a class="dropdown-item" href="/certification/add">Add Certification</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/trip/">Dive Trips</a></li>
              <li><a class="dropdown-item" href="/trip/add">Add Dive Trip</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/operator/">Dive Operators</a></li>
              <li><a class="dropdown-item" href="/operator/add">Add Dive Operator</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/dive-plan/">Dive Plans</a>
          </li>
        </ul>
        <form class="d-flex" role="log-out" action="/user/log-out" method="POST">
          <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
          <button class="btn btn-primary" type="submit">Log Out</button>
        </form>
        {{else}}
        </ul>
        <a class="btn btn-primary me-2" href="/user/sign-up" role="button">Sign Up</a>
        <a class="btn btn-outline-primary" href="/user/log-in" role="button">Log In</a>
        {{end}}
      </div>
    </div>
  </nav>
{{end}}

