name: Build and push multi-platform container images

on:
  release:
    types: [published]

env:
  BUILD_PLATFORMS: "linux/amd64, linux/arm64"
  REGISTRY: ghcr.io

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up Qemu for multi-platform builds
      uses: docker/setup-qemu-action@v3
      with:
        platforms: ${{ env.BUILD_PLATFORMS }}

    - name: Set up Docker Buildx for multi-platform builds
      uses: docker/setup-buildx-action@v3

    - name: Log in to container registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (labels, tags) for container
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.REGISTRY }}/${{ github.repository }}
        tags: |
          type=semver,pattern={{version}}

    - name: Build and push app container image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Containerfile
        platforms: ${{ env.BUILD_PLATFORMS }}
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        # These two values save and reuse the Github Action cache for each run.
        cache-to: type=gha,mode=max
        cache-from: type=gha

